[submodule "external/obs-studio"]
	path = external/obs-studio
	url = https://github.com/obsproject/obs-studio
[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers
